{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ projects.title }}
  </h2>

  {% for group in projects.groups %}
  <div class="project-group">
    <h3 class="project-group-title">{{ group.name }}</h3>
    {% if group.meta %}
    <div class="project-group-meta">{{ group.meta }}</div>
    {% endif %}
    {% if group.summary %}
    <p class="project-group-summary">{{ group.summary }}</p>
    {% endif %}

  {% for project in group.assignments %}
    <div class="item">

      <h4 class="project-title">
        {% if project.link %}
        <a href="{{ project.link }}" target="_blank">{{ project.title }}</a>
        {% else %}
        {{ project.title }}
        {% endif %}
      </h4>

      {% if project.details %}
      <ul class="project-details">
        {% for detail in project.details %}
        <li>{{ detail }}</li>
        {% endfor %}
      </ul>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

  </div><!--//project-group-->
  {% endfor %}

</section><!--//section-->
{% endif %}
